.ant-input:focus,
.ant-select-open .ant-select-selection:focus,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus {
  border-color: #40a9ff !important;
  outline: 0 !important;
}
body {
  word-wrap: break-word;
}

.ant-card {
  border-radius: 4px;
}

.asterisk::after {
  display: inline-block;
  margin-left: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
